<div class="wrapper">
  <div class="container">
    <div class="left">
      <div class="top">
        <input type="text" placeholder="Search" />
        <tui-svg
          class="ml-6 mt-2"
          src="tuiIconUserLarge"
          title="Edit profile"
          (click)="showDialog(editProfile, 'Edit profile')"
        >
        </tui-svg>
        <tui-svg
          src="tuiIconSearchLarge"
          class="ml-6 mt-2"
          title="Find users"
          (click)="showDialog(userListModal, 'Find users')"
        >
        </tui-svg>
      </div>
      <ul class="people">
        <li class="person" data-chat="person1">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg"
            alt=""
          />
          <span class="name">Thomas Bangalter</span>
          <span class="time">2:09 PM</span>
          <span class="preview">I was wondering...</span>
        </li>
        <li class="person" data-chat="person2">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png"
            alt=""
          />
          <span class="name">Dog Woofson</span>
          <span class="time">1:44 PM</span>
          <span class="preview">I've forgotten how it felt before</span>
        </li>
      </ul>
    </div>
    <div class="right">
      <div class="top">
        <span>To: <span class="name">Dog Woofson</span></span>
      </div>
      <div class="chat" data-chat="person1">
        <div class="conversation-start">
          <span>Today, 6:48 AM</span>
        </div>
        <div class="bubble you">Hello,</div>
        <div class="bubble you">it's me.</div>
        <div class="bubble you">I was wondering...</div>
      </div>
      <div class="chat" data-chat="person2">
        <div class="conversation-start">
          <span>Today, 5:38 PM</span>
        </div>
        <div class="bubble you">Hello, can you hear me?</div>
        <div class="bubble you">I'm in California dreaming</div>
        <div class="bubble me">... about who we used to be.</div>
        <div class="bubble me">Are you serious?</div>
        <div class="bubble you">When we were younger and free...</div>
        <div class="bubble you">I've forgotten how it felt before</div>
      </div>
      <div class="write">
        <a href="javascript:;" class="write-link attach"></a>
        <input type="text" />
        <a href="javascript:;" class="write-link smiley"></a>
        <a href="javascript:;" class="write-link send"></a>
      </div>
    </div>
  </div>
</div>

<ng-template let-observed #editProfile>
  <form [formGroup]="editProfileForm" (submit)="onEditUsername()">
    <div class="flex flex-col justify-center">
      <tui-avatar
        id="avatar"
        fallback="tuiIconUserLarge"
        new
        class="tui-space_left-3 avatar inline-block"
        [avatarUrl]="imageLink(user.id)"
        [size]="'xl'"
        (click)="fileInput.click()"
        title="Upload new profile image"
      >
        <input
          hidden
          #fileInput
          type="file"
          class="w-full h-full"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
      </tui-avatar>

      <div class="tui-form__row">
        <tui-input
          formControlName="username"
          tuiHintContent="Username"
          class="w-52"
        >
          Username
          <input tuiTextfield [required]="true" />
          <span class="tui-required"></span>
        </tui-input>
        <tui-error
          formControlName="username"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>

      <div class="tui-form__buttons">
        <button
          size="s"
          tuiButton
          type="submit"
          class="tui-form__button"
          [class.tui-skeleton_light]="false"
          [class.tui-skeleton]="false"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template let-observed #userListModal>
  <form [formGroup]="userSearchForm">
    <div class="tui-form__row">
      <tui-input formControlName="query" tuiHintContent="Username" class="w-52">
        Type
        <input tuiTextfield [required]="true" />
        <span class="tui-required"></span>
      </tui-input>
    </div>
    <ng-container *ngFor="let fetchUser of fetchedUsers | async" class="pt-8">
      <div class="border border-gray-600 shadow-md p-4 flex relative">
        <tui-avatar
          fallback="tuiIconUserLarge"
          new
          class="tui-space_left-3 avatar inline-block"
          [avatarUrl]="imageLink(fetchUser.id)"
          [size]="'m'"
        >
        </tui-avatar>
        <div class="text-black pt-1 pl-4">
          {{ fetchUser.username }}
        </div>
        <tui-svg
          src="tuiIconMessageCircleLarge"
          class="ml-52 float-right block pt-2"
          title="Start chat"
        >
        </tui-svg>
      </div>
    </ng-container>
  </form>
</ng-template>
