// * {
//     box-sizing: border-box;
// }
// body {
//     background-color: #abd9e9;
//     font-family: Arial;
// }
// #container {
//     width: 100%;
//     height: 100%;
//     background: #eff3f7;
//     margin: 0 auto;
//     font-size: 0;
//     border-radius: 5px;
//     overflow: hidden;
// }
// aside {
//     width: 260px;
//     height: 800px;
//     background-color: #3b3e49;
//     display: inline-block;
//     font-size: 15px;
//     vertical-align: top;
// }
// main {
//     width: 490px;
//     height: 800px;
//     display: inline-block;
//     font-size: 15px;
//     vertical-align: top;
// }

// aside header {
//     padding: 30px 20px;
// }
// aside input {
//     width: 100%;
//     height: 50px;
//     line-height: 50px;
//     padding: 0 50px 0 20px;
//     background-color: #5e616a;
//     border: none;
//     border-radius: 3px;
//     cursor: pointer;
//     color: #fff;
//     background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
//     background-repeat: no-repeat;
//     background-position: 170px;
//     background-size: 40px;
// }
// aside input::placeholder {
//     color: #fff;
// }
// aside ul {
//     padding-left: 0;
//     margin: 0;
//     list-style-type: none;
//     overflow-y: scroll;
//     height: 690px;
// }
// aside li {
//     padding: 10px 0;
// }
// aside li:hover {
//     background-color: #5e616a;
// }
// h2,
// h3 {
//     margin: 0;
// }
// aside li img {
//     border-radius: 50%;
//     margin-left: 20px;
//     margin-right: 8px;
// }
// aside li div {
//     display: inline-block;
//     vertical-align: top;
//     margin-top: 12px;
// }
// aside li h2 {
//     font-size: 14px;
//     color: #fff;
//     font-weight: normal;
//     margin-bottom: 5px;
// }
// aside li h3 {
//     font-size: 12px;
//     color: #7e818a;
//     font-weight: normal;
// }

// .status {
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     display: inline-block;
//     margin-right: 7px;
// }
// .green {
//     background-color: #58b666;
// }
// .orange {
//     background-color: #ff725d;
// }
// .blue {
//     background-color: #6fbced;
//     margin-right: 0;
//     margin-left: 7px;
// }

// main header {
//     height: 110px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30px 20px 30px 40px;
// }
// main header > * {
//     display: inline-block;
//     vertical-align: top;
// }
// main header img:first-child {
//     border-radius: 50%;
// }
// main header img:last-child {
//     width: 24px;
//     margin-top: 8px;
// }
// main header div {
//     margin-left: 10px;
//     margin-right: 145px;
// }
// main header h2 {
//     font-size: 16px;
//     margin-bottom: 5px;
// }
// main header h3 {
//     font-size: 14px;
//     font-weight: normal;
//     color: #7e818a;
// }
// main {
//     width: 80%;
// }
// #chat {
//     padding-left: 0;
//     margin: 0;
//     list-style-type: none;
//     overflow-y: scroll;
//     height: 535px;
//     border-top: 2px solid #fff;
//     border-bottom: 2px solid #fff;
// }
// #chat li {
//     padding: 10px 30px;
// }
// #chat h2,
// #chat h3 {
//     display: inline-block;
//     font-size: 13px;
//     font-weight: normal;
// }
// #chat h3 {
//     color: #bbb;
// }
// #chat .entete {
//     margin-bottom: 5px;
// }
// #chat .message {
//     padding: 20px;
//     color: #fff;
//     line-height: 25px;
//     max-width: 90%;
//     display: inline-block;
//     text-align: left;
//     border-radius: 5px;
// }
// #chat .me {
//     text-align: right;
// }
// #chat .you .message {
//     background-color: #58b666;
// }
// #chat .me .message {
//     background-color: #6fbced;
// }
// #chat .triangle {
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-width: 0 10px 10px 10px;
// }
// #chat .you .triangle {
//     border-color: transparent transparent #58b666 transparent;
//     margin-left: 15px;
// }
// #chat .me .triangle {
//     border-color: transparent transparent #6fbced transparent;
//     margin-left: 375px;
// }

// main footer {
//     height: 155px;
//     padding: 20px 30px 10px 20px;
// }
// main footer textarea {
//     resize: none;
//     border: none;
//     display: block;
//     width: 100%;
//     height: 80px;
//     border-radius: 3px;
//     padding: 20px;
//     font-size: 13px;
//     margin-bottom: 13px;
// }
// main footer textarea::placeholder {
//     color: #ddd;
// }

// main footer a {
//     text-decoration: none;
//     text-transform: uppercase;
//     font-weight: bold;
//     color: #6fbced;
//     vertical-align: top;
//     margin-left: 333px;
//     margin-top: 5px;
//     display: inline-block;
// }
// .footer-wrapper {
//     display: flex;
// }

@mixin font-bold {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}
@mixin font {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

.wrapper {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg");
    background-size: cover;
    background-repeat: none;
    position: relative;
    left: 50%;
    width: var(--wrapper);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 800px;
    transform: translate(-50%, 0);
}
.container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    background-color: white;
    transform: translate(-50%, -50%);
    .left {
        float: left;
        width: 37.6%;
        height: 100%;
        border: 1px solid var(--light);
        background-color: var(--white);
        .top {
            position: relative;
            width: 100%;
            height: 96px;
            padding: 29px;
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: "";
                background-color: var(--light);
                transform: translate(-50%, 0);
            }
        }
        input {
            float: left;
            width: 188px;
            height: 42px;
            padding: 0 15px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            border-radius: 21px;
            @include font();
            &:focus {
                outline: none;
            }
        }
        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid var(--light);
            background-color: var(--blue);
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
        .people {
            margin-left: -1px;
            border-right: 1px solid var(--light);
            border-left: 1px solid var(--light);
            width: calc(100% + 2px);
            .person {
                position: relative;
                width: 100%;
                padding: 12px 10% 16px;
                cursor: pointer;
                background-color: var(--white);
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 80%;
                    height: 1px;
                    content: "";
                    background-color: var(--light);
                    transform: translate(-50%, 0);
                }
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .name {
                    font-size: 14px;
                    line-height: 22px;
                    color: var(--dark);
                    @include font-bold;
                }
                .time {
                    font-size: 14px;
                    position: absolute;
                    top: 16px;
                    right: 10%;
                    padding: 0 0 5px 5px;
                    color: var(--grey);
                    background-color: var(--white);
                }
                .preview {
                    font-size: 14px;
                    display: inline-block;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: var(--grey);
                }
                &.active,
                &:hover {
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 0;
                    background-color: var(--blue);
                    width: calc(100% + 2px);
                    padding-left: calc(10% + 1px);
                    span {
                        color: var(--white);
                        background: transparent;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .right {
        position: relative;
        float: left;
        width: 62.4%;
        height: 100%;
        .top {
            width: 100%;
            height: 47px;
            padding: 15px 29px;
            background-color: #eceff1;
            span {
                font-size: 15px;
                color: var(--grey);
                .name {
                    color: var(--dark);
                    @include font-bold;
                }
            }
        }
        .chat {
            position: relative;
            display: none;
            overflow: hidden;
            padding: 0 35px 92px;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: var(--light);
            height: calc(100% - 48px);
            justify-content: flex-end;
            flex-direction: column;
            &.active-chat {
                display: block;
                display: flex;
                .bubble {
                    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            animation-duration: 0.15s * $i;
                        }
                    }
                }
            }
        }
        .write {
            position: absolute;
            bottom: 29px;
            left: 30px;
            height: 42px;
            padding-left: 8px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            width: calc(100% - 58px);
            border-radius: 5px;
            input {
                font-size: 16px;
                float: left;
                width: 347px;
                height: 40px;
                padding: 0 10px;
                color: var(--dark);
                border: 0;
                outline: none;
                background-color: #eceff1;
                @include font;
            }
            .write-link {
                &.attach {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: "";
                        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.smiley {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: "";
                        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.send {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        margin-left: 11px;
                        content: "";
                        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        .bubble {
            font-size: 16px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 13px 14px;
            vertical-align: top;
            border-radius: 5px;
            &:before {
                position: absolute;
                top: 19px;
                display: block;
                width: 8px;
                height: 6px;
                content: "\00a0";
                transform: rotate(29deg) skew(-35deg);
            }
            &.you {
                float: left;
                color: var(--white);
                background-color: var(--blue);
                align-self: flex-start;
                animation-name: slideFromLeft;
                &:before {
                    left: -3px;
                    background-color: var(--blue);
                }
            }
            &.me {
                float: right;
                color: var(--dark);
                background-color: #eceff1;
                align-self: flex-end;
                animation-name: slideFromRight;
                &:before {
                    right: -3px;
                    background-color: #eceff1;
                }
            }
        }
        .conversation-start {
            position: relative;
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
            span {
                font-size: 14px;
                display: inline-block;
                color: var(--grey);
                &:before,
                &:after {
                    position: absolute;
                    top: 10px;
                    display: inline-block;
                    width: 30%;
                    height: 1px;
                    content: "";
                    background-color: var(--light);
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}
@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
