<div id="container">
  <aside>
    <header>
      <input type="text" placeholder="search" />
    </header>
    <ul>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status orange"></span>
            offline
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_02.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status green"></span>
            online
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_03.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status orange"></span>
            offline
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_04.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status green"></span>
            online
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_05.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status orange"></span>
            offline
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_06.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status green"></span>
            online
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_07.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status green"></span>
            online
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_08.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status green"></span>
            online
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_09.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status green"></span>
            online
          </h3>
        </div>
      </li>
      <li>
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_10.jpg"
          alt=""
        />
        <div>
          <h2>Prénom Nom</h2>
          <h3>
            <span class="status orange"></span>
            offline
          </h3>
        </div>
      </li>
    </ul>
  </aside>
  <main>
    <header>
      <div class="flex">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg"
          alt=""
        />
        <h2>Vincent</h2>
        <h3>10:12AM, Today</h3>
      </div>
      <div
        (click)="showDialog(editProfile)"
        class="justify-items-end flex justify-end"
      >
        <img
          src="https://avatars.mds.yandex.net/i?id=2d37b2c410aff8df7736dea1052cd36fb2a59625-7904189-images-thumbs&n=13"
          height="40px"
          class="block float-right"
        />
      </div>
    </header>
    <ul id="chat">
      <li class="you">
        <div class="entete">
          <span class="status green"></span>
          <h2>Vincent</h2>
          <h3>10:12AM, Today</h3>
        </div>
        <div class="triangle"></div>
        <div class="message">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor.
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:12AM, Today</h3>
          <h2>Vincent</h2>
          <span class="status blue"></span>
        </div>
        <div class="triangle"></div>
        <div class="message">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor.
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:12AM, Today</h3>
          <h2>Vincent</h2>
          <span class="status blue"></span>
        </div>
        <div class="triangle"></div>
        <div class="message">OK</div>
      </li>
      <li class="you">
        <div class="entete">
          <span class="status green"></span>
          <h2>Vincent</h2>
          <h3>10:12AM, Today</h3>
        </div>
        <div class="triangle"></div>
        <div class="message">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor.
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:12AM, Today</h3>
          <h2>Vincent</h2>
          <span class="status blue"></span>
        </div>
        <div class="triangle"></div>
        <div class="message">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor.
        </div>
      </li>
      <li class="me">
        <div class="entete">
          <h3>10:12AM, Today</h3>
          <h2>Vincent</h2>
          <span class="status blue"></span>
        </div>
        <div class="triangle"></div>
        <div class="message">OK</div>
      </li>
    </ul>
    <footer>
      <div class="footer-wrapper">
        <div class="message_input" style="width: 90%">
          <textarea
            placeholder="Type your message"
            style="width: 100%"
          ></textarea>
          <a href="#">Send</a>
        </div>
      </div>
    </footer>
  </main>
</div>
<ng-template let-observed #editProfile>
  <form
    [formGroup]="editProfileForm"
    (submit)="onEditUsername()"
    class="flex justify-center items-center"
  >
    <tui-avatar
      fallback="tuiIconUserLarge"
      new
      class="tui-space_left-3 avatar inline-block"
      [avatarUrl]="imageLink(user.id)"
      [size]="'xl'"
      (click)="fileInput.click()"
    >
      <input
        hidden
        #fileInput
        class="w-100 h-100"
        type="file"
        (change)="onFileSelected($event)"
      />
    </tui-avatar>

    <div class="tui-form__row">
      <tui-input formControlName="username" tuiHintContent="Username">
        Username
        <input tuiTextfield [required]="true" />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error
        formControlName="username"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <div class="tui-form__buttons">
      <button
        size="s"
        tuiButton
        type="submit"
        class="tui-form__button"
        [class.tui-skeleton_light]="false"
        [class.tui-skeleton]="false"
      >
        Submit
      </button>
    </div>
  </form>
</ng-template>
